<p>
  dashboard works!
</p>
<a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fabrilsuperinteressante.files.wordpress.com%2F2017%2F09%2Fcc3a3es-selvagens-combinam-a-hora-da-cac3a7ada-se-comunicando-com-espirros.png&imgrefurl=https%3A%2F%2Fsuper.abril.com.br%2Fcomportamento%2Fcaes-selvagens-da-africa-espirram-para-aprovar-ideias-dos-colegas%2F&docid=taZka42oE6hOzM&tbnid=ppe62-NaDOPy9M%3A&vet=10ahUKEwikoNa4-ePiAhW1GbkGHUY-CpsQMwhWKAUwBQ..i&w=1024&h=682&bih=362&biw=790&q=mabeco&ved=0ahUKEwikoNa4-ePiAhW1GbkGHUY-CpsQMwhWKAUwBQ&iact=mrc&uact=8#h=682&imgdii=Ho53p44kgJ1mkM:&vet=10ahUKEwikoNa4-ePiAhW1GbkGHUY-CpsQMwhWKAUwBQ..i&w=1024
">MABECO</a>
<div id="pie_chart"></div>
<div id="3d_pie_chart"></div>
<div id="dunut_chart"></div>
<div id="line_chart"></div>
<div id="column_chart"></div>